/*  ############    CORES BANDEIRA PORTUGUESA    ############
    https://pt.wikipedia.org/wiki/Bandeira_de_Portugal

    Sistema Vermelho      Verde           Amarelo     Azul            Branco        Preto
    PMS     485 CVC       349 CVC         803 CVC     288 CVC         —             Black 6 CVC
    RGB     255-0-0       0-102-0         255-255-0   0-51-153        255-255-255   0-0-0
    CMYK    0-100-100-0   100-35-100-30   0-0-100-0   100-100-25-10   0-0-0-0       0-0-0-100
    Web     #FF0000       #006600         #FFFF00     #003399         #FFFFFF       #000000 */


* {                                             /* padronizações da página */
  margin: 0px;
  padding: 0px;
}

body {                                          /* padronizações do body */
  font-family: 'Source Sans Pro', sans-serif;   /* fonte minimalista utilizada pela Google */
  font-size: 10pt;
}

a {
  text-decoration: none;                        /* retira o sublinhado padrão do a */
}

.mainContainer {
  height: 900px;
  width: 1200px;
  margin: auto auto 3px auto;                   /* mantém centralizado com o auto e insere 3px no botton */
  overflow: hidden;                             /* esconde a barra de rolagem */
}

header {
  height: 15%;                                  /* 15% da atura do .mainContainer */
  margin: 5px 2% 5px 2%;                        /* header centralizado com 96% do tamanho do .mainContainer */
  box-shadow: 0px 0px 30px rgba(0,20,0,5);      /* efeito de sombra no header (h-offset v-offset blur color / #001400 é uma variação do verde oficial) */
}

  #logoGov {
    height: 100%;                               /* 100% da atura do header */
    width: 15%;                                 /* 15% da largura do header */
    float: left;                                /* posicionamento à esquerda à partir da margem do header */
    margin: auto;
  }

    #logoGov img {
      width: 80%;                               /* 80% da largura do #logoGov (sobram 20%) */
      margin: auto 10%;                         /* 10% da largura do #logoGov, utilizando os 20% que sobraram para centralizar (2 x 10) */
    }

  #titulo {
    height: 100%;                               /* 100% da atura do header */       
    width: 70%;                                 /* 70% da largura do header */
    float: left;                                /* posicionamento à esquerda à partir de #logoGov */
  }

    #titulo h1 {
      text-align: left;
      font-family: Oswald, sans-serif;          /* fonte com aparência institucional utilizada em https://br.usembassy.gov/pt/ */
      font-size: 1.4em;                         /* 140% do tamanho da fonte padrão */
      font-weight: 800;                         /* expessura da letra */
      letter-spacing: 3px;                      /* espaçamento entre letras */
      word-spacing: 10px;                       /* espaçamento entre palavras */
      text-transform: uppercase;                /* garante sempre maiúsculas */
    }

    #titulo h1:first-child {
      margin-top: 5%;                           /* margem top somente no primero h1 */
    }

  #pictogramas {
    height: 100%;                               /* 100% da atura do header */
    width: 3%;                                  /* 3% da largura do header */
    float: left;
  }

    #picgroup {
      margin-top: 50%;                          /* margem superior aplicada no conjunto dos pictogramas */
    }

    #picgroup img {
      width: 68%;                               /* 68% da largura do #pictogramas (sobram 32%) */
      margin: 3px 16%;                          /* 16% da largura do #pictogramas, utilizando os 32% que sobraram para centralizar (2 x 16) */
    }

  #endereco {
    height: 100%;                               /* 100% da atura do header */
    width: 12%;                                 /* 15% da largura do header */
    float: right;
   }

    #endereco a {
      color: black;                             /* troca a cor azul padrão do a */
    }

    #endereco p {
      text-align: right;
      margin-right: 6%;
      font-family: Oswald, sans-serif;          /* fonte com aparência institucional utilizada em https://br.usembassy.gov/pt/ */
      font-size: 0.9em;                         /* 90% do tamanho da fonte padrão */
      font-weight: 500;
    }

    #endereco p:first-child {
      margin-top: 10%;
    }

    #endereco img {
      width: 18%;                               /* 18% da largura do #endereco */
      margin-top: 8%;
      margin-left: 68%;
    }

#menuPrincipal {
  height: 5%;                                   /* 5% da atura do .mainContainer */
  width: 100%;                                  /* 100% da largura do .mainContainer */
  float: left;
  background-color: #006600;                    /* verde oficial da bandeira portuguesa (vide topo do documento) */
}

  #menuPrincipal ul {
    margin: 5px 0px;                            /* 5px top/botton */
    text-align: center;                         /* centraliza todo o nav */
  }

    #menuPrincipal ul li {
      line-height: 35px;                        /* altura da linha */
      display: inline-block;                    /* altera exibição da lista, de coluna para linha */
      border-right: 1px solid grey;             /* insere uma linha à direita de cada li */
    }

    #menuPrincipal ul li:first-child {
      border-left: 1px solid grey;              /* insere uma linha à esquerda na primeira li */
    }

      #menuPrincipal ul li a {
        margin: 5px 60px;                       /* margem de 5px top/botton e 30px right/left em cada a */
        font-size: 1em;
        letter-spacing: 3px;                    /* espaçamento entre caracteres */
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }

#carousel {
  height: 14%;                                  /* 15% da atura do .mainContainer */
  width: 100%;                                  /* 100% da largura do container */
  float: left;
  box-shadow: 0px 0px 8px rgba(0,20,0,5) inset; /* efeito de sombra interna (h-offset v-offset blur color / #001400 é uma variação do verde oficial) */
}
#slider {
  height: 60%;                                  /* 60% da atura do .mainContainer */
  width: 100%;                                  /* 100% da largura do container */
  float: left;
  /* background: url(../imgs/img02-slider-pordosol_680x306.png);
  background-size: cover;                       /* o atributo cover preenche o #slider (CUIDADO PARA NÃO DISTORCER A IMAGEM) 
  background-repeat: no-repeat;                 /* exibe a imagem apenas uma vez, porém não tem efeito por estar ocupando a largura total */
}

#rodape {
  height: 5%;                                   /* 5% da atura do .mainContainer */
  width: 100%;                                  /* 100% da largura do container */
  float: left;
  background-color: #006600;                    /* verde oficial da bandeira portuguesa (vide topo do documento) */
}

  #rodape a {
    text-decoration: none;                      /* retira o sublinhado padrão do a */
  }

  #rodape p {
    line-height: 35px;
    margin: 0.5% 5px;
    font-size: 0.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    color: white;
  }
