  .container_pg_secundaria section {
    float: left;
    width: 70%;
    font-size: 2.85em;
    background-color: lightblue;
  }

  .container_pg_secundaria aside {
    float: left;
    width: 30%;
    font-size: 1.95em;
    background-color: orange;
  }

  .container_pg_secundaria footer {
    float: left;
    width: 100%;
    font-size: 3em;
    background-color: yellow;
  }