  .container_pg_secundaria section {
    float: left;
    background-color: white;
    color: #800000;
  }

  .container_pg_secundaria aside {
    float: left;
    font-size: 1.2em;
  }

  .container_pg_secundaria footer {
    float: left;
    font-size: 1.2em;
  }
  