* {                                             /* padronizações da página */
  margin: 0px;
  padding: 0px;
}

body {                                          /* padronizações do body */
  font-family: 'Source Sans Pro', sans-serif;   /* fonte minimalista utilizada pela Google */
  font-size: 10pt;
}

a {
  text-decoration: none;
}

#pg_secundaria {
  z-index: 99;
  float: left;
  height: 60px;
  width: 100%;
  position: fixed;
  font-weight: 800;
  letter-spacing: 3px;
  background-color: #006600;
  opacity: 0.6;
}

  #pg_secundaria a p {
    float: left;
    font-size: 1.4em;
    padding: 18px;
    color: #FFFFFF;
  }

  #pg_secundaria a:nth-child(2) p {
    float: right;
    font-size: 1.6em;
    padding: 16px;
    text-transform: uppercase;
  }

  #pg_secundaria img {
    float: right;
    height: 100%;
  }

.container_pg_secundaria {
  width: 90%;
  margin: 60px 5%;
  float: left;
}