* {                                             /* padronizações da página */
  margin: 0px;
  padding: 0px;
}

body {                                          /* padronizações do body */
  font-family: 'Source Sans Pro', sans-serif;   /* fonte minimalista utilizada pela Google */
  font-size: 10pt;
}

a {
  text-decoration: none;
}

#pg_secundaria {
	z-index: 99;
	float: left;
	height: 60px;
	width: 100%;
	position: fixed;
	font-weight: 800;
	letter-spacing: 3px;
	background-color: rgba(0, 102, 0, 0.6);
}

	#pg_secundaria #vcpoa {
		float: left;
		width: 50%;
		font-size: 1.4em;
		padding: 18px;
		color: #FFFFFF;
		text-shadow: 2px 2px #006600;
	}

	#pg_secundaria #titulo_pagina {
		float: right;
		width: 40%;
		font-size: 1.6em;
		text-transform: uppercase;
		color: #FFFFFF;
		text-shadow: 2px 2px #006600;
	}

	#pg_secundaria #titulo_pagina p {
		float: right;
		padding: 16px;
	}

	#pg_secundaria #titulo_pagina img {
		float: right;
		width: 7%;
		margin: 4px;
	}

.container_pg_secundaria {
	z-index: 0;
	position: absolute;
	top: 61px;
	float: left;
	width: 90%;
	margin: 0 5%;
}