* {                                           /* padronizações da página */
  margin: 0px;
  padding: 0px;
}

body {                                        /* padronizações do body */
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
}

.container {
  width: 98%;                                 /* 98% da largura do body */
  margin: auto;
  overflow: hidden;                           /* esconde a barra de rolagem */
  background-color: grey;                     /* ############ APAGAR ESSA LINHA ############ */
}

header {
  margin-top: 5px;
  height: 150px;
  min-width: 1028px;
  background-color: lightgrey;                /* ############ APAGAR ESSA LINHA ############ */
}

  #logoGov {
    height: 100%;                             /* 100% da atura do header */
    width: 15%;                               /* 15% da largura do header */
    float: left;
    margin: auto;
    background-color: lightyellow;            /* ############ APAGAR ESSA LINHA ############ */
  }

    #logoGov img {
      height: 100%;                           /* 100% da altura do #logoGov */
      margin-left: 25%;
      background-color: white;                /* ############ APAGAR ESSA LINHA ############ */
    }

  #titulo {
    height: 100%;                             /* 100% da largura do header */
    width: 70%;                               /* 70% da largura do header */
    float: left;
    background-color: lightblue;              /* ############ APAGAR ESSA LINHA ############ */
  }

    #titulo h1 {
      text-align: center;
      margin: 5% auto;
      font-family: 'Anton', sans-serif;
    }

  #pictogramas {
    margin: 1% 0%;
    width: 15%;
    float: right;
  }

    #pictogramas img {
      padding: 5px 60px;
      width: 15%;
    }

  #menuPrincipal {
    float: left;
    width: 100%;                              /* 100% da largura do container */
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: darkgreen;              /* ############ AJUSTAR A COR CORRETA ############ */
  }

    #menuPrincipal ul {
      text-align: center;                     /* Centraliza todo o nav */
    }

      #menuPrincipal ul li {
        display: inline-block;                /* altera exibição da lista de coluna para linha */
        border-right: 1px solid grey;      /* insere uma linha à direita de cada li */
      }

        #menuPrincipal ul li:first-child {
          border-left: 1px solid grey;        /* insere uma linha à esquerda na primeira li */
        }


      #menuPrincipal ul li a {
        letter-spacing: 3px;                  /* espaçamento entre caracteres */
        margin: 0px 30px;                     /* margem de 30px direita e esquerda em cada a */
        line-height: 45px;
        padding: 0 20px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        color: #FFFFFF;
      }

  #slider {
    float: left;
    background: url(img/pordosol.png);
    width: 100%;
  }

#footer {
  float: left;
  height: 150px;
  margin: 0 auto;
  padding: 0px 0 15px 0;
  background: darkgreen;
  border-top: 1px solid #A59282;
  font-family: arial, sans-serif;
}

  #footer p {
    margin: 0;
    padding-top: 40px;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
  }