<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Contatos - Vice Consulado de Portugal em Porto Alegre</title>

	<meta charset="UTF-8"/>
	<meta name="title" content="Contatos - Vice Consulado de Portugal em Porto Alegre"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes"/>
	<meta name="description" content="página de serviços realizados pelo Vice-Consulado de Portugal em Porto Alegre"/>
	<meta name="keywords" content="serviços, consulado, portugal, porto alegre, cidadania, portuguesa, cartão cidadão, passaporte"/>		

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>

	<!-- CSS padrão para página secundária -->
	<link rel="stylesheet" type="text/css" href="../css/pg_secundaria.css"/>
	<!-- CSS página CONTATOS -->
	<link rel="stylesheet" type="text/css" href="../css/contatos.css"/>

</head>
<body id="topo">
	<header id="pg_secundaria">
		<a id="vcpoa" href="../index.html">
			<p>Vice Consulado de Portugal em Porto Alegre</p></a>
		<a id="titulo_pagina" href="#topo">
			<p>Contatos</p>
			<img src="../imgs/img01-pg-sec-logoGov-branco.png" alt="/img01-pg-sec-logoGov-branco.png">
		</a>
	</header>
	<div class="container_pg_secundaria">												<!-- INCLUIR O CONTEÚDO DENTRO DAS TAG's A PARTIR DESSE PONTO -->		
		<section id="formulario">
			<form action="">
		  
			  <label for="fname">Nome</label>
			  <input type="text" id="fname" name="firstname" placeholder="Seu nome..">
		  
			  <label for="lname">Sobre nome</label>
			  <input type="text" id="lname" name="lastname" placeholder="Seu sobre nome..">
		  
			  <label for="country">País</label>
			  <select id="country" name="country">
				<option value="portugal">Portugal</option>
				<option value="brasil">Brasil</option>
			  </select>
		  
			  <label for="subject">Sobre</label>
			  <textarea id="subject" name="subject" placeholder="Escreva algo.." style="height:200px"></textarea>
		  
			  <input type="submit" value="Submit">
		  
			</form>
		</section>
	<section id="contatos">
		<div data-packed="true" class="enderecos" id="div3"> <span style="font-weight:bold;"> <span style="text-decoration:underline;">Endereço:</span></span></p>

			<p class="font_8" style="line-height:1.4em;"><span>Rua Prof. Annes Dias</span>,<span> 112 , 10º andar - Centro</span></p>
			
			<p class="font_8" style="line-height:1.4em;">90.020-090 - Porto&nbsp;Alegre - RS</p>
			
			<p class="font_8" style="line-height:1.4em;"><span class="wixGuard">&#8203;</span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span><span><span style="font-weight:bold;"><span style="text-decoration:underline;">Atendimento ao público:</span></span></span></span></p>
			
			<p class="font_8" style="line-height:1.4em;">Das 9 às 13 h ( Pessoalmente)</p>
			
			<p class="font_8" style="line-height:1.4em;"><span class="wixGuard">&#8203;</span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span style="text-decoration:underline;"><span style="font-weight:bold;">Telefone:</span></span> 51 - 3061-5767</p>
			
			<p class="font_8" style="line-height:1.4em;"><span class="wixGuard">&#8203;</span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span><span><span style="font-weight:bold;"> <span style="text-decoration:underline;">Informações por telefone</span>: Das 14:30 h às 16 h</span></span></p>
			
			<p class="font_8" style="line-height:1.4em;">&nbsp;</p>
			
			<p class="font_8" style="line-height:1.4em;"><span style="text-decoration:underline;"><span style="font-weight:bold;">E</span></span><span><span><span style="text-decoration:underline;"><span style="font-weight:bold;">mergência consular - Somente para portugueses:</span></span></span></span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span><span>+55 51 9181 1745</span></span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span><span>+351 217 929 714</span></span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span><span>+351 961 706 472</span></span></p>
			
			<p class="font_8" style="line-height:1.4em;"><span><span><object height="0"><a class="auto-generated-link" data-auto-recognition="true" data-content="gec@mne.pt" href="mailto:gec@mne.pt" data-type="mail">gec@mne.pt</a></object></span></span></p>
		</div>
	</section>
		<section id="mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13816.206110046114!2d-51.23528988022461!3d-30.035379550000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197907b6228aed%3A0x71485e8a55a2cfc!2sVice-Consulado+de+Portugal+em+Porto+Alegre!5e0!3m2!1spt-BR!2sbr!4v1531337214084"
				width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
				</iframe>
			</section>
</body>

</html>