<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>O Vice-Consulado - Vice-Consulado de Portugal em Porto Alegre</title>

	<meta charset="UTF-8"/>
	<meta name="title" content="O Vice Consulado - Vice Consulado de Portugal em Porto Alegre"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes"/>
	<meta name="description" content="página de serviços realizados pelo Vice-Consulado de Portugal em Porto Alegre"/>
	<meta name="keywords" content="serviços, consulado, portugal, porto alegre, cidadania, portuguesa, cartão cidadão, passaporte"/>		

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>

	<!-- CSS padrão para página secundária -->
	<link rel="stylesheet" type="text/css" href="../css/pg_secundaria.css"/>
	<!-- CSS página O VICE CONSULADO -->
	<link rel="stylesheet" type="text/css" href="../css/o_vice_consulado.css"/>

</head>
<body id="topo">
	<header id="pg_secundaria">
		<a id="vcpoa" href="../index.html">
			<p>Vice-Consulado de Portugal em Porto Alegre</p></a>
		<a id="titulo_pagina" href="#topo">
			<p>O Vice-Consulado</p>
			<img src="../imgs/img01-pg-sec-logoGov-branco.png" alt="/img01-pg-sec-logoGov-branco.png">
		</a>
	</header>
	<div class="container_pg_secundaria">												<!-- INCLUIR O CONTEÚDO DENTRO DAS TAG's A PARTIR DESSE PONTO -->
		<section>
			<h1>O VICE-CONSULADO DE PORTUGAL EM PORTO ALEGRE</h1>
		</section>
		<aside>
			<br>
			<p>O Vice-Consulado de Portugal em Porto Alegre é o posto consular português com <b>jurisdição no Estado do Rio Grande do Sul</b>, Brasil.</p>
			<br>
			<p>No exercício das suas funções no Estado do Rio Grande do Sul cabem ao Vice-Consulado de Portugal em Porto Alegre as seguintes <b>atribuições:</b>
				<ul>
					<li>a) execução da política externa, de acordo com as orientações gerais das missões diplomáticas;</li>
					<li>b) protecção dos direitos e dos legítimos interesses do Estado Português e dos seus nacionais, pessoas singulares ou colectivas, dentro dos limites permitidos pelo direito internacional e pelas leis locais;</li>
					<li>c) promoção e valorização dos portugueses nos países de acolhimento;</li>
					<li>d) promoção e divulgação da língua e da cultura portuguesas;</li>
					<li>e) coordenação da política do ensino português no estrangeiro;</li>
					<li>f) promoção e o desenvolvimento das relações comerciais, económicas, culturais e científicas entre pessoas, singulares ou colectivas, nacionais e estrangeiras;</li>
					<li>g) cooperação com autoridades nacionais e estrangeiras.</li>
				</ul>
				<br>
				<h2>FUNCIONAMENTO:</h2><br>
				<p>O Vice-Consulado de Portugal em Porto Alegre faz <b>atendimento ao público ao balcão</b>, por ordem de chegada, todos os dias úteis, <b>das 9:00H às 13:00H</b> (devendo os utentes chegar até às 12:30H). O <b>atendimento telefónico</b> é feito todos os <b>dias úteis</b>, das <b>14.30H às 16:00H.</b>
				Pedidos efetuados por e-mail ou via postal serão processados durante o horário de <b>funcionamento</b> do posto consular - das 8:00 às 16:00H (com uma hora para intervalo de almoço).
			</p>
		</aside>
		<footer>
		
		</footer>
	</div>
</body>
</html>