<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Serviços - Vice Consulado de Portugal em Porto Alegre</title>

	<meta charset="UTF-8"/>
	<meta name="title" content="Serviços - Vice Consulado de Portugal em Porto Alegre"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes"/>
	<meta name="description" content="página de serviços realizados pelo Vice-Consulado de Portugal em Porto Alegre"/>
	<meta name="keywords" content="serviços, consulado, portugal, porto alegre, cidadania, portuguesa, cartão cidadão, passaporte"/>		

	<link rel="stylesheet" type="text/css" href="../css/pg_secundaria.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>

</head>
<body>
	<header >
		<div id="pg_secundaria">
			<p>Vice Consulado de Portugal em Porto Alegre</p>
			<p>Serviços</p>
		</div>
	</header>
	<section>
		
	</section>

</body>
</html>