<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Serviços Consulares - Vice Consulado de Portugal em Porto Alegre</title>

	<meta charset="UTF-8"/>
	<meta name="title" content="Serviços Consulares - Vice Consulado de Portugal em Porto Alegre"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes"/>
	<meta name="description" content="página de serviços realizados pelo Vice-Consulado de Portugal em Porto Alegre"/>
	<meta name="keywords" content="serviços, consulado, portugal, porto alegre, cidadania, portuguesa, cartão cidadão, passaporte"/>		

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>

	<!-- CSS padrão para página secundária -->
	<link rel="stylesheet" type="text/css" href="../css/pg_secundaria.css"/>
	<!-- CSS página SERVIÇOS CONSULARES -->
	<link rel="stylesheet" type="text/css" href="../css/servicos_consulares.css"/>

</head>
<body id="topo">
	<header id="pg_secundaria">
		<a href="../index.html">
			<p>Vice Consulado de Portugal em Porto Alegre</p></a>
		<a href="#topo">
			<p>Serviços Consulares</p>																	<!-- Título da página -->
			<img src="../imgs/img01-pg-sec-logoGov-branco.png" alt="/img01-pg-sec-logoGov-branco.png">
		</a>
	</header>
	<div class="container_pg_secundaria">												<!-- INCLUIR O CONTEÚDO DENTRO DAS TAG's A PARTIR DESSE PONTO -->
		<ul id="pics">
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/inscricao_consular_128_green.png" alt="inscricao_consular_128_green.png"/>
			  	<br/><h3>Inscrição Consular</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cartao_cidadao_128_green.png" alt="cartao_cidadao_128_green.png"/>
			  	<br/><h3>Cartão Cidadão</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/passaporte_128_green.png" alt="passaporte_128_green.png"/>
			  	<br/><h3>Passaporte</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reg_civil_nasc_bird_128_green.png" alt="reg_civil_nasc_bird_128_green.png"/>
			  	<br/><h3>Registo Civil:<br/>Nascimento</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reg_civil_casamento_pigeon_128_green.png" alt="reg_civil_casamento_pigeon_128_green.png"/>
			  	<br/><h3>Registo Civil:<br/>Casamento</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reg_civil_obito_heart_128_green.png" alt="reg_civil_obito_heart_128_green.png"/>
			  	<br/><h3>Registo Civil:<br/>Óbito</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/nacionalidade_torre_line_128_green.png" alt="nacionalidade_torre_line_128_green.png"/>
			  	<br/><h3>Nacionalidade</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/notariado_128_green.png" alt="notariado_128_green.png"/>
			  	<br/><h3>Notariado</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/conv_antenupcial_128_green.png" alt="conv_antenupcial_128_green.png"/>
			  	<br/><h3>Convenções Antenupciais</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/legal_documento_128_green.png" alt="legal_documento_128_green.png"/>
			  	<br/><h3>Legalização de Documentos</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/procuracao_128_green.png" alt="procuracao_128_green.png"/>
			  	<br/><h3>Procurações</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reconhecimento_128_green.png" alt="reconhecimento_128_green.png"/>
			  	<br/><h3>Reconhecimentos</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/testamento_128_green.png" alt="testamento_128_green.png"/>
			  	<br/><h3>Testamento</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/hab_herdeiros_128_green.png" alt="hab_herdeiros_128_green.png"/>
			  	<br/><h3>Habilitação de Herdeiros</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/nif_128_green.png" alt="nif_128_green.png"/>
			  	<br/><h3>NIF:<br/>Identificação Fiscal</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/hab_condutor_128_green.png" alt="hab_condutor_128_green.png"/>
			  	<br/><h3>Habilitação de Condução</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cert_bagagem_128_green.png" alt="cert_bagagem_128_green.png"/>
			  	<br/><h3>Certificado:<br/>Bagagem</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cert_residencia_128_green.png" alt="cert_residencia_128_green.png"/>
			  	<br/><h3>Certificado:<br/>Residência</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cert_imp_auto_128_green.png" alt="cert_imp_auto_128_green.png"/>
			  	<br/><h3>Certificado:<br/>Importação de Automóvel</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/igualdade_128_green.png" alt="igualdade_128_green.png"/>
			  	<br/><h3>Igualdade de Direitos</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/registo_criminal_128_green.png" alt="registo_criminal_128_green.png"/>
			  	<br/><h3>Registo Criminal</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/rec_eleitoral_128_green.png" alt="rec_eleitoral_128_green.png"/>
			  	<br/><h3>Receseamento Eleitoral</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/servico_militar_128_green.png" alt="servico_militar_128_green.png"/>
			  	<br/><h3>Serviço Militar</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/vistos_128_green.png" alt="vistos_128_green.png"/>
			  	<br/><h3>Vistos</h3></a>
		  </div></li>
		</ul>
		<div class="separador">
			<a href="../index.html">	<img src="..\imgs\navigation\back_white.png" alt="back_white.png">		</a>
			<a href="#topo">			<img src="..\imgs\navigation\go_top_white.png" alt="go_top_white.png">	</a>
		</div>
		<section id="informacoes">
			
		</section>
		<footer>
			<p>FOOTER</p>
		</footer>
	</section>
</body>
</html>