<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Serviços Consulares - Vice Consulado de Portugal em Porto Alegre</title>

	<meta charset="UTF-8"/>
	<meta name="title" content="Serviços Consulares - Vice Consulado de Portugal em Porto Alegre"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes"/>
	<meta name="description" content="página de serviços realizados pelo Vice-Consulado de Portugal em Porto Alegre"/>
	<meta name="keywords" content="serviços, consulado, portugal, porto alegre, cidadania, portuguesa, cartão cidadão, passaporte"/>		

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>

	<!-- CSS padrão para página secundária -->
	<link rel="stylesheet" type="text/css" href="../css/pg_secundaria.css"/>
	<!-- CSS página SERVIÇOS CONSULARES -->
	<link rel="stylesheet" type="text/css" href="../css/servicos_consulares.css"/>

</head>
<body id="topo">
	<header id="pg_secundaria">
		<a id="vcpoa" href="../index.html">
			<p>Vice Consulado de Portugal em Porto Alegre</p></a>
		<a id="titulo_pagina" href="#topo">
			<p>Serviços Consulares</p>																	<!-- Título da página -->
			<img src="../imgs/img01-pg-sec-logoGov-branco.png" alt="/img01-pg-sec-logoGov-branco.png">
		</a>
	</header>
	<div class="container_pg_secundaria">												<!-- INCLUIR O CONTEÚDO DENTRO DAS TAG's A PARTIR DESSE PONTO -->
		<ul id="pics">
		  <li><div>
		  	<a href="servicos_consulares.html#inscricao_consular">
			  	<img src="../imgs/servicos/inscricao_consular_128_green.png" alt="inscricao_consular_128_green.png"/>
			  	<br/><h3>Inscrição Consular</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cartao_cidadao_128_green.png" alt="cartao_cidadao_128_green.png"/>
			  	<br/><h3>Cartão Cidadão</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/passaporte_128_green.png" alt="passaporte_128_green.png"/>
			  	<br/><h3>Passaporte</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reg_civil_nasc_bird_128_green.png" alt="reg_civil_nasc_bird_128_green.png"/>
			  	<br/><h3>Registo Civil:<br/>Nascimento</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reg_civil_casamento_pigeon_128_green.png" alt="reg_civil_casamento_pigeon_128_green.png"/>
			  	<br/><h3>Registo Civil:<br/>Casamento</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reg_civil_obito_heart_128_green.png" alt="reg_civil_obito_heart_128_green.png"/>
			  	<br/><h3>Registo Civil:<br/>Óbito</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/nacionalidade_torre_line_128_green.png" alt="nacionalidade_torre_line_128_green.png"/>
			  	<br/><h3>Nacionalidade</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/notariado_128_green.png" alt="notariado_128_green.png"/>
			  	<br/><h3>Notariado</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/conv_antenupcial_128_green.png" alt="conv_antenupcial_128_green.png"/>
			  	<br/><h3>Convenções Antenupciais</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/legal_documento_128_green.png" alt="legal_documento_128_green.png"/>
			  	<br/><h3>Legalização de Documentos</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/procuracao_128_green.png" alt="procuracao_128_green.png"/>
			  	<br/><h3>Procurações</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/reconhecimento_128_green.png" alt="reconhecimento_128_green.png"/>
			  	<br/><h3>Reconhecimentos</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/testamento_128_green.png" alt="testamento_128_green.png"/>
			  	<br/><h3>Testamento</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/hab_herdeiros_128_green.png" alt="hab_herdeiros_128_green.png"/>
			  	<br/><h3>Habilitação de Herdeiros</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/nif_128_green.png" alt="nif_128_green.png"/>
			  	<br/><h3>NIF:<br/>Identificação Fiscal</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/hab_condutor_128_green.png" alt="hab_condutor_128_green.png"/>
			  	<br/><h3>Habilitação de Condução</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cert_bagagem_128_green.png" alt="cert_bagagem_128_green.png"/>
			  	<br/><h3>Certificado:<br/>Bagagem</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cert_residencia_128_green.png" alt="cert_residencia_128_green.png"/>
			  	<br/><h3>Certificado:<br/>Residência</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/cert_imp_auto_128_green.png" alt="cert_imp_auto_128_green.png"/>
			  	<br/><h3>Certificado:<br/>Importação de Automóvel</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/igualdade_128_green.png" alt="igualdade_128_green.png"/>
			  	<br/><h3>Igualdade de Direitos</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/registo_criminal_128_green.png" alt="registo_criminal_128_green.png"/>
			  	<br/><h3>Registo Criminal</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/rec_eleitoral_128_green.png" alt="rec_eleitoral_128_green.png"/>
			  	<br/><h3>Receseamento Eleitoral</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/servico_militar_128_green.png" alt="servico_militar_128_green.png"/>
			  	<br/><h3>Serviço Militar</h3></a>
		  </div></li>
		  <li><div>
		  	<a href="servicos_consulares.html#topo">
			  	<img src="../imgs/servicos/vistos_128_green.png" alt="vistos_128_green.png"/>
			  	<br/><h3>Vistos</h3></a>
		  </div></li>
		</ul>
		<div class="titulo_agrupador">	<h3>Informações Importantes</h3>	</div>
		<section class="conteudo">
			<p>As informações abaixo não servem para o serviço de pedido de visto, que deveram ser agendados obrigatóriamente e para os residentes deste estado.</p>

			<p>O Vice-Consulado de Portugal em Porto Alegre <span style="font-weight:bold;">atende as pessoas residentes</span> no Estado da sua área de <span style="font-weight:bold;">jurisdição</span>: <span style="font-weight:bold;">Rio Grande do Sul</span>. Para efectuar qualquer acto consular o utente deverá comprovar que reside na área de jurisdição do Vice-Consulado, apresentando p. ex. um recibo e luz, telefonia, banco, ou se for estudante, comprovativo de inscrição/matricula escolar, SUS, ...</p>

			<p>Pessoas <span style="font-weight:bold;">residentes noutros Estados</span> do Brasil só poderão ser atendidas neste Vice-Consulado em situações de <span style="font-weight:bold;">comprovada excepcionalidade ou urgência</span>, sujeitas a sistema de <span style="font-weight:bold;">senhas</span> (distribuídas, em número reduzido, às 09h00) <span style="font-weight:bold;">e só serão atendidos após</span> o Vice-Consulado obter autorização para o seu atendimento junto do posto consular a que pertencem e ter terminado o atendimento dos utentes pertencentes à jurisdição deste Vice-Consulado.</span></p>

			<p><span style="color: #FF0000;"><span style="font-weight:bold;">PARA AS PESSOAS RESIDENTES NO RS:</span></p>

			<p>Com o objetivo de melhorar o atendimento ao público este Vice-Consulado passou a funcionar com <span style="color: #FF0000;"><span style="font-weight:bold;">agendamento prévio</span></span> para atendimento ao balcão dos serviços consulares mais procurados (<span style="color: #FF0000;">cartão de cidadão/passaporte/nacionalidade/casamento/óbito/vistos</span>).  Evitam-se assim filas e é garantido um atendimento mais organizado para quem procura os nossos serviços. <span style="font-weight:bold;">Para os serviços com agendamento prévio NÃO VENHA AO VICE-CONSULADO SEM o seu AGENDAMENTO</span>, salvo se for uma situação urgente.</span></p>

			<p>Para os <span style="color: #FF0000;"><span style="font-weight:bold;">demais serviços</span></span> o atendimento ao balcão é feito <span style="color: #FF0000;"><span style="font-weight:bold;">sem agendamento prévio</span></span>, por ordem de chegada, todos os dias úteis, entre as 9H e as 12H (<span style="text-decoration:underline;"><a href="contatos.html" target="_self">consulte aqui os dias que o posto se encontra encerrado</a></span>).</p>

			<p>Além disso, para a <span style="color: #FF0000;"><span style="font-weight:bold;">maioria dos serviços</span></span> e/ou documentos está também disponível a <span style="font-weight:bold;">solicitação por <span style="color: #FF0000;">correio</span></span><span style="color: #FF0000;">,</span> sem necessidade de se deslocar ao Vice-Consulado e recebendo em sua casa os documentos pretendidos.  Assim, antes de fazer o agendamento ou de se dirigir ao Vice-Consulado, veja quais os documentos que pode obter sem sair de sua casa.</p>

			<p>Clicando no serviço consular pretendido, na <span style="color: #FF0000;">coluna ao lado, será direcionado </span>para a página respetiva, onde encontrará as<span style="color: #FF0000;"> informações que precisa para aquilo que pretende.</span></p>

			<p><span style="font-weight:bold;">​Note bem:</span> Todas as informações aqui prestadas e os requisitos delas constantes são de natureza geral. A análise e as particularidades de cada caso concreto poderão determinar a exigência de documentação ou diligências complementares.</p>

			<p>O Consulado presta esclarecimentos adicionais, em caso de dúvidas sobre algum documento ou ato que pretenda, preferencialmente através de mensagem enviada por email para <span style="color: #FF0000;"><a href="mailto:mail@cnpal.dgaccp.pt" target="_self" data-content="mail@cnpal.dgaccp.pt" data-type="mail">mail@cnpal.dgaccp.pt</a></span>.</p>
		</section>
		<div class="separador">
			<a href="../index.html">	<img src="..\imgs\navigation\back_white.png" alt="back_white.png">		</a>
			<a href="#topo">			<img src="..\imgs\navigation\go_top_white.png" alt="go_top_white.png">	</a>
		</div>
		<div class="titulo_agrupador" id="inscricao_consular">	<h3>Inscrição Consular e Certificado da Inscrição</h3>	</div>
		<section class="conteudo">
			<img src="../imgs/servicos/inscricao_consular_128_green.png" alt="inscricao_consular_128_green.png"/>
			<p>Os portugueses residentes no estrangeiro devem proceder à sua inscrição no posto consular da área da sua residência.</p>
			<p>A inscrição é um acto consular, pelo qual a identificação dos cidadãos nacionais fica a constar nos arquivos do posto consular em cuja área de jurisdição fixaram residência ou se encontram ocasionalmente.</p>
			<p>A sua inscrição é um acto importante : em caso de problema, pois permite ao posto dispor dos contactos dos portugueses que residem ou transitam pela área consular.</p>
			<p>Este acto é imprescindível para a obtenção de qualquer tipo documento que pretenda obter junto de um posto consular.</p>
			<p>Em caso de roubo ou extravio de documentos pessoais, será possível identificar rapidamente o cidadão português.</p>
			<p>IMPORTANTE: A inscrição consular só pode ser feita se o interessado tiver nacionalidade portuguesa.</p>
			<p>Existem dois tipos de inscrição consular:</p>
			<p style="margin-left:1cm; font-size:1.2em;">1) <span style="font-weight:bold;">Inscrição consular definitiva:</span> é exigida a presença da pessoa a inscrever, munida do bilhete de identidade ou cartão do cidadão válido e de duas fotografias 3 x 4 cm,  actualizadas e a cores.</p>
			<p style="margin-left:1cm; font-size:1.2em;">Os menores de 10 anos podem ser inscritos a pedido dos seus representantes legais, presentes, desde que seja exibida prova bastante de que o menor se encontra na área de jurisdição deste Vice-Consulado. Para os menores de 10 anos que não possuam bilhete de identidade, é suficiente uma certidão de nascimento ou um certificado de nacionalidade.</p>
			<p style="margin-left:1cm; font-size:1.2em;">2) <span style="font-weight:bold;">Inscrição consular provisória</span>: quando o interessado não apresenta o bilhete de identidade ou cartão do cidadão válido, pode ser feita uma inscrição consular provisória, mediante a apresentação dos documentos de identificação que possuir, RG brasileiro, carta de condução, bilhete de identidade caducado, passaporte nacional válido ou caducado, etc.</p>
			<p style="margin-left:1cm; font-size:1.2em;">Também poderá ser feita nos casos em que não se possa deslocar ao Vice-consulado. Para isso, basta enviar um email com pdf do seu documento de identificação e do justificativo da sua residência, assim como o seu contacto telefónico. A inscrição será confirmada quando se deslocar ao Vice-consulado.</p>
			<p style="margin-left:1cm; font-size:1.2em;">Caso o cidadão só tenha inscrição consular provisória não poderão ser emitidos pelo Vice-consulado documentos para os quais seja necessário a apresentação de bilhete de identidade.</p>
			<p>A inscrição consular deve ser mantida actualizada. Caso queira solicitar a alteração de endereço e/ou contacto, envie e-mail a pedir ACTUALIZAÇÃO DE INSCRIÇÃO, com nome completo, filiação, número do bilhete de identidade/cartão de cidadão, data de nascimento, endereço e telefone para</p>
			<p>A inscrição (registo) consular é comprovada através do<span style="font-weight:bold;"> CERTIFICADO DE INSCRIÇÃO CONSULAR.</span></p>
			<p>Diferente da simples inscrição consular, que é um documento interno do Consulado, o certificado de inscrição consular (ou cédula consular) é um documento solicitado pela Polícia Federal brasileira a alguns cidadãos portugueses para fins de documentação e registro civil.</p>
			<p>Para obter o certificado de inscrição consular definitiva precisa dos seguintes documentos:</p>
			<p style="margin-left:20pt; font-size:1.2em;">1. Cópia do bilhete de identidade /cartão de cidadão válido. </p>
			<p style="margin-left:20pt; font-size:1.2em;">2. Cópia do passaporte português válido, caso esse documento seja exigido pela Polícia Federal;</p>
			<p style="margin-left:20pt; font-size:1.2em;">3. Foto 3×4 cm colorida, recente e sem data;</p>
			<p style="margin-left:20pt; font-size:1.2em;">4. Requerimento preenchido.</p>
			<p style="margin-left:20pt; font-size:1.2em;">5. Comprovante de residência no Estado do Grande do Sul.</p>
			<p style="margin-left:20pt; font-size:1.2em;">- Para os menores de 10 anos que não possuem Bilhete de Identidade ou Cartão de Cidadão, deverá ser apresentado o boletim de nascimento ou a certidão de nascimento portuguesa, válida.</p>
			<a href="https://www.consuladoportugalportoalegre.com/emolumentos" target="blank"><p>Clique aqui para verificar o custo do certificado de inscrição consular.</p></a>
			<p>FORMAS DE PAGAMENTO:</p>
			<p> Dinheiro, cheque ou cartão de débito (todos os cartões, salvo Banricompras e Hipercard),  ao balcão do Vice-Consulado.</p>
		</section>
		<div class="separador">
			<a href="../index.html">	<img src="..\imgs\navigation\back_white.png" alt="back_white.png">		</a>
			<a href="#topo">			<img src="..\imgs\navigation\go_top_white.png" alt="go_top_white.png">	</a>
		</div>
	</section>
</body>
</html>